.ListedPlayer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 33px;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0 5px 0 13px;
  margin-bottom: 4px;
}

.ListedPlayerAvatarAndNickname {
  display: flex;
  align-items: center;
}

.ListedPlayerAvatar {
  height: 24px;
  width: 24px;
}

.ListedPlayerNickname {
  color: rgba(0, 0, 0, 0.54);
  font-size: 20px;
  font-weight: 500;
  margin: 0 13px;
}

.ListedPlayerBeer {
  width: 16px;
  height: 16px;
}
