.InfoPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 78%;
  justify-content: space-between;
}

.InfoPageDescription {
  margin: 20px 0;
  padding: 0 40px;
  font-weight: 500;
  font-size: 20px;
  text-align: justify;
  overflow-y: scroll;
  overflow-x: hidden;
}

.InfoPageDescription::-webkit-scrollbar {
  display: none;
}
