#game-bang-bang {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  height: 100%;
  position: relative;
}

.button-bang {
  width: 48px;
  height: 48px;
  background-color: red;
  border-color: darkgray;
  border-width: 5px;
  border-radius: 50%;
  margin-bottom: 20%;
  z-index: 1;
}

.button-bang:hover {
  border-color: darkgray;
  z-index: 1;
}

.button-bang:disabled {
  z-index: 1;
  opacity: 0.5;
}

#game-bang-bang .target-image {
  opacity: 0.4;
  height: 60%;
  display: flex;
  justify-content: center;
}

#game-bang-bang .container-baloon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-balloon {
  padding: 17px;
  margin-top: -13px;
}

.balloon-img {
  width: 100%;
  object-fit: scale-down;
}

.target-img {
  width: 80%;
  object-fit: scale-down;
}

@media (min-height: 720px) {
  .balloon-img {
    width: 100%;
    object-fit: scale-down;
  }

  .animation-balloon {
    padding: 13px;
    margin-top: -13px;
  }
}