.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #170c32;
  align-items: center;
  border-radius: 20px;
}

.button-bang {
  width: 48px;
  height: 48px;
  background-color: red;
  border-color: darkgray;
  border-width: 5px;
  border-radius: 50%;
  margin-bottom: 98px;
  z-index: 1;
}

.button-bang:hover {
  border-color: darkgray;
  z-index: 1;
}

.button-bang:disabled {
  z-index: 1;
  opacity: 0.5;
}

#game-bang-bang .target-image {
  opacity: 0.4;
}

#game-bang-bang .container-baloon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-balloon {
  padding: 30px;
  margin-top: -50px;
}

.balloon-img {
  width: 360px;
  object-fit: scale-down;
}

.target-img {
  width: 360px;
  object-fit: scale-down;
}
