.OEscolhidoContainer {
  display: flex;
  flex-direction: column;
}

.GamePlayerListDiv {
  padding: 1em;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 107px - 2rem - 260px);
}

.GamePlayerListItem {
  border-radius: 10px;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.selectedItem {
  background: #403a55;
}

.selectedAvatar {
  border: 2px solid #403a55;
}

.unselectedAvatar {
  border-left: 2px solid gold;
}

.unselectedItem {
  background: #8877df;
}

.GamePlayerListNickname {
  margin: 0;
  padding: 0 1em;
}

.GamePlayerListAvatar {
  display: flex;
  align-items: center;
  width: 48px;
  height: 100%;
  object-fit: scale-down;
  border-radius: 10px;
}

.GameVoteButton {
  margin: 2em;
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 48px;
  align-items: flex-end;
}

@media (max-height: 720px) {
  .GamePlayerListDiv {
    max-height: calc(100vh - 107px - 2rem - 230px);

  }
}
