.WhoDrankDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WhoDrankPlayerListDiv {
  padding: 1em;
  height: 400px;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.WhoDrankTitle {
  font-family: Adumu;
  font-size: 24px;
}

.WhoDrankPlayerListItem {
  border-radius: 10px;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.WhoDrankSelectedItem {
  background: #403a55;
}

.WhoDrankUnselectedItem {
  background: #8877df;
}

.WhoDrankPlayerListNickname {
  margin: 0;
  padding: 0 1em;
}

.WhoDrankPlayerListAvatar {
  display: flex;
  align-items: center;
  width: 48px;
  height: 100%;
  object-fit: scale-down;
  border-radius: 10px;
}

.WhoDrankPoteButton {
  margin: 2em;
}

.WhoDrankAwaitingDiv {
  margin-top: 3em;
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #8877df;
  padding: 1.5em;
  font-size: 20px;
  text-justify: justify;
  border-radius: 16px;
}

.WhoDrankAwaitingIcon {
  width: 80px;
  margin-bottom: 10px;
}

/* <div className="WhoDrankAwaitingDiv">
          <img className="WhoDrankAwaitingIcon" src={beer} />
          <div className="WhoDrankAwaitingTitle"> */
