.CSCompostoInfoDiv {
  margin: 20px 0;
  padding: 0 40px;
  font-weight: 500;
  font-size: 20px;
  height: 600px;
  text-align: justify;
  overflow-y: scroll;
  overflow-x: hidden;
}

.CSCompostoInfoDiv::-webkit-scrollbar {
  display: none;
}
