.RegularButton {
  color: white;
  width: 240px;
  height: 56px;
  background: linear-gradient(180deg, #642e85 0%, rgba(255, 255, 255, 0) 100%);
  background-color: purple;
  border-radius: 10px;
  border: none;
  padding: 0;
  font-size: 20px;
  font-family: 'Roboto';
}

.RegularButton:disabled {
  color: gray;
  background: linear-gradient(180deg, #3d2d47 0%, rgba(255, 255, 255, 0) 100%);
  background-color: rgb(85, 1, 85);
  pointer-events: none;
}
