.ResultsTitle {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  font-family: Adumu;
}

.ResultsText {
  font-weight: 500;
  font-size: 20px;
  margin: 10px 4px;
  height: 20px;
}

.ResultsOuterCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  width: 210px;
  height: 304px;
  background: #403a55;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ResultsInnerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 211px;
  background: #8877df;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ResultsAvatar {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.ResultsButtons {
  padding: 3em;
  display: flex;
  flex-direction: column;
}

.ResultsButtonsSpacer {
  padding: 4px;
}

.NoVotesOuter {
  background-color: #222222;
}

.NoVotesInner {
  background-color: #333333;
}

.NoVotesText {
  margin: 1.5em;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

.Tie {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.TieOuter {
  width: 160px;
  height: 304px;
}

.TieInner {
  width: 120px;
  height: 211px;
}

.TieAvatar {
  width: 70px;
  height: 70px;
}

.TieText {
  font-size: 16px;
  margin: 4px;
}

.TieTitle {
  max-width: 260px;
  height: auto;
  font-size: 20px;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 12px;
}

.TieSpacer {
  padding: 8px;
}

.ResultsMultipleTies {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 360px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.MultipleTiesOuterCard {
  background-color: #403a55;
  width: 80%;
  border-radius: 20px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  padding: 8px;
}

.MultipleTiesInnerCard {
  background-color: #8877df;
  border-radius: 20px;
  width: 120px;
  height: 120px;
  padding: 1em;
  margin-right: 8px;
}

.MultipleTiesText {
  font-family: Adumu;
  font-size: 24px;
}
