.WhoDrankPlayerListDiv {
    padding: 1em;
    height: 400px;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  .WhoDrankTitle {
    font-family: Adumu;
    font-size: 24px;
  }
  
  .WhoDrankPlayerListItem {
    border-radius: 10px;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .selectedItem {
    background: #403a55;
  }
  
  .unselectedItem {
    background: #8877df;
  }
  
  .WhoDrankPlayerListNickname {
    margin: 0;
    padding: 0 1em;
  }
  
  .WhoDrankPlayerListAvatar {
    display: flex;
    align-items: center;
    width: 48px;
    height: 100%;
    object-fit: scale-down;
    border-radius: 10px;
  }
  
  .WhoDrankPoteButton {
    margin: 2em;
  }
  