.CoverPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.CoverPageCardDiv {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 307px;
  height: 426px;
  border-radius: 10px;
  z-index: 1;
}

.CoverPageImage {
  width: 280px;
  height: 280px;
  object-fit: scale-down;
}

.CoverPageTitle {
  font-family: 'Adumu';
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin: 12px;
}

.CoverPageStartButton {
  margin: 2em;
  z-index: 0;
}
