.EuNuncaGameTitle {
  width: 80%;
  font-size: 20px;
  font-weight: 700;
}

.EuNuncaSuggestionsDiv {
  background: #403a55;
  border: 3px solid #f9c95c;
  border-radius: 16px;
  width: 90%;
  height: 400px;
  padding: 1em;
}

.EuNuncaSuggestionsTitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  color: rgba(255, 255, 255, 0.6);
}

.EuNuncaSuggestion {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.EuNuncaSuggestionIcon {
  width: 31px;
  margin-right: 10px;
}

.EuNuncaAwaitingDiv {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EuNuncaAwaitingIcon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.EuNuncaAwaitingTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

.GameVoteButton {
  margin: 2em;
}

@media (max-height: 720px) {
  .EuNuncaSuggestionsDiv {
    width: 88%;
    height: 360px;
    padding-top: 0.65rem;
  }

  .EuNuncaSuggestion {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 2em;
  }
}