.EuNuncaGameTitle{
  width: 80%;
  font-size: 20px;
  font-weight: 700;
}

.EuNuncaSuggestionsDiv {
  background: #403A55;
  border: 3px solid #F9C95C;
  border-radius: 16px;
  width: 90%;
  height: 400px;
  padding: 1em;
}

.EuNuncaSuggestionsTitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  color: rgba(255, 255, 255, 0.6);
}

.EuNuncaSuggestion {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.EuNuncaSuggestionIcon {
  width: 31px;
  margin-right: 10px;
}

.GameVoteButton {
  margin: 2em;
}
