.CardBackground {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 1em 0;
}

.CardImage {
  width: 90%;
  object-fit: scale-down;
}

.CardTitle {
  font-family: 'Adumu';
  font-size: 20px;
  margin: 10px 0;
  color: white;
}
