.RouletteCardImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  object-fit: scale-down;
}

@media (max-height: 720px) {
  .RouletteCardImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    object-fit: scale-down;
  }
}
